public/files/1_postgresSQL_twitter_listening.json
[{"id":"107578e1.0f9267","type":"twitter in","z":"deb0d57.1c46528","twitter":"","tags":"#IBMi","user":"false","name":"","topic":"tweets","inputs":0,"x":204,"y":530,"wires":[["80b161f6.b46ce"]]},{"id":"80b161f6.b46ce","type":"sentiment","z":"deb0d57.1c46528","name":"","x":405.2271728515625,"y":530,"wires":[["67e18.83cd01e88"]]},{"id":"67e18.83cd01e88","type":"function","z":"deb0d57.1c46528","name":"PrepareForInsert","func":"try{\n    msg.place=msg.location.place;\n    msg.txtTweet= msg.tweet.text.replace(/'/g, \"''\");\n    } \n    catch(e){\n        msg.place=\"nolocation\";\n        msg.txtTweet= msg.tweet.text.replace(/'/g, \"''\");\n    }\n    \n    return msg;\n/*msg.payload=\"INSERT INTO SENTIMENT.TWEETS(TWEET,SCREEN_NAME,LOCATION,SENTIMENT_SCORE,TIMESTP,TIMESTAMP_MS) VALUES('\"+\ntxtTweet+\"','\"+\nmsg.tweet.user.screen_name+\"','\"+\nplace+\"',\"+\nmsg.sentiment.score+\",\"+\n\"CURRENT TIMESTAMP\"+\",\"+\nmsg.tweet.timestamp_ms+\")\"\nreturn msg*/","outputs":1,"noerr":0,"x":637.2271728515625,"y":529,"wires":[["932d3cfb.e14d4","934978c9.5de198"]]},{"id":"6e344490.0c38bc","type":"comment","z":"deb0d57.1c46528","name":"Twitter Listening & PostgreSQL inserts","info":"","x":273,"y":483,"wires":[]},{"id":"932d3cfb.e14d4","type":"postgrestor","z":"deb0d57.1c46528","name":"","query":"INSERT INTO SENTIMENT.TWEETS(TWEET,SCREEN_NAME,LOCATION,SENTIMENT_SCORE,TIMESTP,TIMESTAMP_MS) \nVALUES(\n'{{msg.txtTweet}}',\n'{{msg.tweet.user.screen_name}}',\n'{{msg.place}}',\n'{{msg.sentiment.score}}',\nCURRENT_TIMESTAMP,\n'{{msg.tweet.timestamp_ms}}')","postgresDB":"54e422d2.169824","output":true,"outputs":1,"x":890,"y":530,"wires":[[]]},{"id":"934978c9.5de198","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":876,"y":605,"wires":[]},{"id":"54e422d2.169824","type":"postgresDB","z":"","name":"dvqtxwnl@packy.db.elephantsql.com:5432/dvqtxwnl","host":"packy.db.elephantsql.com","port":"5432","database":"dvqtxwnl","ssl":false,"max":"10","min":1,"idle":"1000"}]