public/files/3_PostgreSQL_simple_dashboard.json
[{"id":"27432577.49ab6a","type":"comment","z":"deb0d57.1c46528","name":"Twitter Simple Dashboard","info":"","x":144,"y":109,"wires":[]},{"id":"11d1a98a.2f8c36","type":"function","z":"deb0d57.1c46528","name":"Prepare Data - Line Chart","func":"var msg1={\n\"series\": [\"TweetsSentiment\", \"AvgSentiment\"],\n\"data\": [\n    ],\n\"labels\": [\"\"]\n}\nvar data1=[];\nvar data2=[];\nmsg.payload.rows.forEach(function(row) {\n    //console.log(new Date(parseInt(row.TIME)));\n    var objTweets = \n    {\"x\": parseInt(row.TIME) , \"y\": parseInt(row.SENTIMENT_SCORE)};\n    data1.push(objTweets);\n    var objAvg = \n    {\"x\": parseInt(row.TIME) , \"y\": parseInt(row.AVG_SENTIMENT)};\n    data2.push(objAvg);\n })\n msg1.data.push(data1);\n msg1.data.push(data2);\n\nreturn [{payload:[msg1]}];","outputs":"1","noerr":0,"x":723,"y":228,"wires":[["ef195153.77f79"]]},{"id":"2709617e.805c9e","type":"inject","z":"deb0d57.1c46528","name":"Query: Tweets Sentiment vs. time","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":210,"y":221,"wires":[["47db6ec.0d6b49"]]},{"id":"1d47d723.4ff301","type":"function","z":"deb0d57.1c46528","name":"Prepare Data - Pie","func":"var m = {};\n/*m.series =[msg.payload[0].SENTIMENT, msg.payload[1].SENTIMENT,msg.payload[2].SENTIMENT];\nm.data = [ [parseInt(msg.payload[0].SCORE)], [parseInt([msg.payload[1].SCORE])],[parseInt([msg.payload[2].SCORE])]];\nm.labels = [\"Twitter Real time Sentiment\"];\n*/\nm.series =[\"Sentiment\"];\nvar datas=[];\nm.labels=[];\nmsg.payload.rows.forEach(function(row) {\ndatas.push(parseInt(row.SCORE));\nm.labels.push(row.sentiment);\n});\nm.data=[datas];\n/*\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};*/\nreturn {payload:[m],topic:\"sentiment\"};\n\n\n//ex for live data, message streaming input\n/*var m = [\n    {topic:msg.payload.SENTIMENT, payload:parseInt(msg.payload.SCORE)},\n    ];\n return [m];  \n var m = [\n    {topic:msg.payload[0].SENTIMENT, payload:parseInt(msg.payload[0].SCORE)},\n    {topic:msg.payload[1].SENTIMENT, payload:parseInt(msg.payload[1].SCORE)},\n    {topic:msg.payload[2].SENTIMENT, payload:parseInt(msg.payload[2].SCORE)},\n    ];\nreturn [m];*/","outputs":1,"noerr":0,"x":691,"y":163,"wires":[["bcae90.5875a17"]]},{"id":"5ff5f3b9.6fe65c","type":"inject","z":"deb0d57.1c46528","name":"Query:Tweets Group by sentiment","topic":"database","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":208,"y":165,"wires":[["abd653f6.103fd8"]]},{"id":"e2b0f1cb.bbe1c","type":"inject","z":"deb0d57.1c46528","name":"Query: TOP Recent Tweets","topic":"","payload":"select SUBSTR(tweet,1,34)  as \"tweet\" ,screen_name as \"name\" ,location as \"loc\",sentiment_score as \"score\" ,timestp as \"time\"  from sentiment.tweets  order by timestp desc FETCH FIRST 8 ROWS ONLY ","payloadType":"str","repeat":"600","crontab":"","once":false,"x":233,"y":288,"wires":[["64c38e4c.7af14"]]},{"id":"5a1edfed.e9bd88","type":"function","z":"deb0d57.1c46528","name":"Prepare Data - Bar","func":"var m = {};\n\nm.series =[];\nm.data=[];\nm.labels=[];\nvar datatemp=[]; \nvar datatemp2=[]; \nmsg.payload.rows.forEach(function(row) {\n    datatemp.push(parseInt(row.tweets));\n    datatemp2.push(parseInt(row.score)*10);\n    m.labels.push(row.loc);\n\n});\nm.data.push(datatemp);\nm.data.push(datatemp2);\nm.series.push(\"#tweets\",\"sentiment\");\n\nreturn {payload:[m],topic:\"sentiment\"};","outputs":1,"noerr":0,"x":750,"y":415,"wires":[["1e3175df.b89f7a"]]},{"id":"ee6fafbf.0ba0e","type":"inject","z":"deb0d57.1c46528","name":"Query:Tweets Per Location","topic":"database","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":261,"y":414,"wires":[["65e236e0.4bbf5"]]},{"id":"117043b7.eaff7c","type":"inject","z":"deb0d57.1c46528","name":"Query: Count * from Tweets","topic":"database","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":260,"y":349,"wires":[["61e8ab30.243e7c"]]},{"id":"33bb41f5.274f4e","type":"ui_text","z":"deb0d57.1c46528","group":"b772fd7c.b32828","order":0,"width":0,"height":0,"name":"","label":"Total # of Stored Tweets:","format":"{{msg.payload.rows[0].tweets}}","layout":"row-left","x":897,"y":348,"wires":[]},{"id":"bcae90.5875a17","type":"ui_chart","z":"deb0d57.1c46528","name":"Twitter Sentiment Pie Chart","group":"e378cdc3.86542","order":1,"width":0,"height":0,"label":"Twitter Sentiment","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Displaing Tweets Sentiment","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#a522dd","#004080","#ff8040","#1155bb","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":950,"y":162,"wires":[[],[]]},{"id":"ef195153.77f79","type":"ui_chart","z":"deb0d57.1c46528","name":"Twitter Activity","group":"e378cdc3.86542","order":2,"width":"8","height":"7","label":"Twitter Activity","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#8080ff","#ff0080","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":962,"y":228,"wires":[[],[]]},{"id":"1e3175df.b89f7a","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"39f49a2e.0d798e","order":2,"width":"20","height":"5","label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Tweets & Sentiment per Location","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8040","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":994,"y":414,"wires":[[],[]]},{"id":"fa93830a.82d4c8","type":"ui_template","z":"deb0d57.1c46528","group":"b772fd7c.b32828","name":"Top Recent Tweets","order":1,"width":"20","height":"5","format":"<style>\n            .mycolumn\n            {\n                font-family:    Arial, Helvetica, sans-serif\n                font-size:      25px;\n                font-weight:    bold;\n            }\n            .mydata\n            {\n                font-family:    Arial, Helvetica, sans-serif\n                font-size:      20px;\n                font-weight:    normal;\n                color: grey;\n            }\n</style>\n<div class=mycolumn layout=\"row\" layout-align=\"start center\">\n<span flex=\"35\" >Tweet</span>\n<span flex=\"15\" >Name</span>\n<span flex>Location</span>\n<span flex=\"10\">Sentiment</span>\n<span flex> TimeStamp</span>\n</div>\n<div class=mydata layout=\"row\" layout-align=\"start center\" ng-repeat=\"tweet in msg.payload.rows\">\n<span flex=\"35\">{{tweet.tweet}}</span>\n<span flex=\"15\" >{{tweet.name}}</span>\n<span flex >{{tweet.loc}}</span>\n<span flex=\"10\" >{{tweet.score}}</span>\n<span flex >{{tweet.time}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":889,"y":288,"wires":[[]]},{"id":"abd653f6.103fd8","type":"postgrestor","z":"deb0d57.1c46528","name":"","query":" select sentiment_group as sentiment, count(id)  as \"SCORE\" from sentiment.tweets group by sentiment_group","postgresDB":"54e422d2.169824","output":true,"outputs":1,"x":481,"y":164,"wires":[["1d47d723.4ff301"]]},{"id":"47db6ec.0d6b49","type":"postgrestor","z":"deb0d57.1c46528","name":"","query":"select a.sentiment_score , a.timestamp_ms as \"TIME\" , sum(b.sentiment_score)/count(b.id) as \"AVG_SENTIMENT\"  from sentiment.tweets a, sentiment.tweets b group by a.sentiment_score, a.timestamp_ms , a.timestamp_ms  order by a.timestamp_ms asc","postgresDB":"54e422d2.169824","output":true,"outputs":1,"x":487,"y":221,"wires":[["11d1a98a.2f8c36"]]},{"id":"64c38e4c.7af14","type":"postgrestor","z":"deb0d57.1c46528","name":"","query":"select SUBSTR(tweet,1,34)  as \"tweet\" ,screen_name as \"name\" ,location as \"loc\",sentiment_score as \"score\" ,timestp as \"time\"  from sentiment.tweets  order by timestp desc FETCH FIRST 8 ROWS ONLY ","postgresDB":"54e422d2.169824","output":true,"outputs":1,"x":506,"y":288,"wires":[["fa93830a.82d4c8"]]},{"id":"61e8ab30.243e7c","type":"postgrestor","z":"deb0d57.1c46528","name":"","query":"select count(*)  as \"tweets\" from sentiment.tweets","postgresDB":"54e422d2.169824","output":true,"outputs":1,"x":520,"y":348,"wires":[["33bb41f5.274f4e"]]},{"id":"65e236e0.4bbf5","type":"postgrestor","z":"deb0d57.1c46528","name":"","query":"select location as \"loc\",count(*)  as \"tweets\" ,  avg(sentiment_score) as \"score\" from sentiment.tweets where location not like 'nolocation'  group by location order by count(*) desc FETCH FIRST 10 ROWS ONLY ","postgresDB":"54e422d2.169824","output":true,"outputs":1,"x":525,"y":416,"wires":[["5a1edfed.e9bd88"]]},{"id":"b772fd7c.b32828","type":"ui_group","z":"deb0d57.1c46528","name":"TOP Recent Tweets","tab":"464a0501.b9389c","order":2,"disp":true,"width":"20"},{"id":"e378cdc3.86542","type":"ui_group","z":"","name":"Default","tab":"464a0501.b9389c","order":1,"disp":true,"width":"8"},{"id":"39f49a2e.0d798e","type":"ui_group","z":"deb0d57.1c46528","name":"Top 10 Tweet Locations & Sentiment","tab":"464a0501.b9389c","order":3,"disp":true,"width":"20"},{"id":"54e422d2.169824","type":"postgresDB","z":"","name":"dvqtxwnl@packy.db.elephantsql.com:5432/dvqtxwnl","host":"packy.db.elephantsql.com","port":"5432","database":"dvqtxwnl","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"464a0501.b9389c","type":"ui_tab","z":"deb0d57.1c46528","name":"Social Media Dashboard with Db2 for i","icon":"dashboard","order":2}]